[package]
name = "vpxtool"
version = "0.1.0"
edition = "2021"
rust-version = "1.71.1"


[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "vpxtool"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.22.1"
#see https://github.com/chronotope/chrono/issues/602#issuecomment-1242149249
chrono = { version = "0.4.38", default-features = false, features = ["clock"] }
clap = { version = "4.5.20", features = ["derive", "string"] }
colored = "2.1.0"
console = "0.15.8"
dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }
dirs = "5.0.1"
egui = "0.29.1"
eframe = "0.29.1"
egui_extras = { version = "*", features = ["all_loaders"] }
image = { version = "0.25", features = ["jpeg", "png"] }
git-version = "0.3.9"
indicatif = "0.17.8"
log = "0.4.22"
logging_timer = "1.1.1"
pretty_env_logger = "0.5.0"
quick-xml = { version = "0.36.2", features = ["serialize"] }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = { version = "1.0.128", features = ["preserve_order"] }
shellexpand = "3.1.0"
walkdir = "2.5.0"
wild = "2.2.1"
figment = { version = "0.10", features = ["toml", "env"] }
toml = "0.8.19"
<<<<<<< HEAD
is_executable = "1.0.1"
regex = { version = "1.10.6", features = [] }
vleue_kinetoscope = "0.2.0"
vpin = { version = "0.15.5" }
=======
is_executable = "1.0.4"
regex = { version = "1.11.0", features = [] }
vpin = { version = "0.15.6" }
>>>>>>> f498814960d2c9f423792b9b37af4ce898499dab
rust-ini = "0.21.1"
edit = "0.1.5"
bevy = "0.14.2"
bevy_asset = "0.14.2"
bevy_asset_loader = "0.21.0"

[dev-dependencies]
pretty_assertions = "1.4.1"
rand = "0.8.5"
testdir = "0.9.1"

[profile.test]
# level 0 is very slow for writing to compound files
# see https://github.com/mdsteele/rust-cfb/issues/42
opt-level = 1
