[package]
name = "vpxtool"
version = "0.1.0"
edition = "2021"
rust-version = "1.69"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.21.2"
byteorder = "1.4.3"
bytes = "1.4.0"
cfb = "0.8.1"
chrono = "0.4.26"
clap = { version = "4.3.21", features = ["derive", "string"] }
colored = "2.0.4"
console = "0.15.7"
dialoguer = "0.10.4"
# dialoguer = { path = "../dialoguer" }
dirs = "5.0.1"
encoding_rs = "0.8.32"
git-version = "0.3.5"
indicatif = "0.17.6"
lzw = "0.10.0"
md2 = "0.10.2"
nom = "7.1.3"
open = "5.0.0"
quick-xml = { version = "0.30.0", features = ["serialize"] }
serde = { version = "1.0.183", features = ["derive"] }
serde_json = { version = "1.0.104", features = ["preserve_order"] }
shellexpand = "3.1.0"
utf16string = "0.2.0"
walkdir = "2.3.3"
wild = "2.1.0"

[dev-dependencies]
pretty_assertions = "1.4.0"
