[package]
name = "vpxtool"
version = "0.1.0"
edition = "2021"
rust-version = "1.71.1"


[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "vpxtool"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.22.1"
#see https://github.com/chronotope/chrono/issues/602#issuecomment-1242149249
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
clap = { version = "4.5.23", features = ["derive", "string"] }
colored = "2.2.0"
console = "0.15.10"
dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }
dirs = "6.0.0"
git-version = "0.3.9"
indicatif = "0.17.9"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = { version = "1.0.135", features = ["preserve_order"] }
shellexpand = "3.1.0"
walkdir = "2.5.0"
wild = "2.2.1"
figment = { version = "0.10", features = ["toml", "env"] }
toml = "0.8.19"
is_executable = "1.0.4"
regex = { version = "1.11.1", features = [] }
vpin = { version = "0.17.2" }
rust-ini = "0.21.1"
edit = "0.1.5"
jojodiff = "0.1.2"
pinmame-nvram = "0.3.9"

[dev-dependencies]
pretty_assertions = "1.4.1"
testdir = "0.9.3"

[profile.test]
# level 0 is very slow for writing to compound files
# see https://github.com/mdsteele/rust-cfb/issues/42
opt-level = 1
