[package]
name = "vpxtool"
version = "0.1.0"
edition = "2021"
rust-version = "1.69"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.21.2"
bytes = "1.4.0"
cfb = "0.8.1"
clap = "4.3.8"
colored = "2.0.0"
console = "0.15.7"
dialoguer = "0.10.4"
git-version = "0.3.5"
indicatif = "0.17.5"
lzw = "0.10.0"
nom = "7.1.3"
open = "4.2.0"
quick-xml = { version = "0.29.0", features = ["serialize"] }
serde = { version = "1.0.164", features = ["derive"] }
serde_json = { version = "1.0.97", features = ["preserve_order"] }
shellexpand = "3.1.0"
utf16string = "0.2.0"
walkdir = "2.3.3"
wild = "2.1.0"

