[package]
name = "vpxtool"
version = "0.1.0"
edition = "2021"
rust-version = "1.71.1"


[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "vpxtool"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.21.5"
#see https://github.com/chronotope/chrono/issues/602#issuecomment-1242149249
chrono = { version = "0.4.31", default-features = false, features = ["clock"] }
clap = { version = "4.4.8", features = ["derive", "string"] }
colored = "2.0.4"
console = "0.15.7"
dialoguer = "0.11.0"
dirs = "5.0.1"
git-version = "0.3.8"
indicatif = "0.17.7"
log = "0.4.20"
logging_timer = "1.1.0"
open = "5.0.1"
pretty_env_logger = "0.5.0"
quick-xml = { version = "0.31.0", features = ["serialize"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = { version = "1.0.108", features = ["preserve_order"] }
shellexpand = "3.1.0"
walkdir = "2.4.0"
wild = "2.2.0"
figment = { version = "0.10", features = ["toml", "env"] }
toml = "0.8.8"
is_executable = "1.0.1"
regex = { version = "1.10.2", features = [] }
vpin = { version = "0.7.0" }

[dev-dependencies]
pretty_assertions = "1.4.0"
rand = "0.8.5"
testdir = "0.8.1"

[profile.test]
# level 0 is very slow for writing to compound files
# see https://github.com/mdsteele/rust-cfb/issues/42
opt-level = 1
