name: Release build
on: [ push ]
permissions:
  contents: write
jobs:
  release:
    name: Release - ${{ matrix.platform.os_name }}
    strategy:
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-20.04
            target: x86_64-unknown-linux-musl
            bin_ext: ""
            name: vpxtool-Linux-x86_64-musl
            cargo_command: cargo

          - os_name: Linux-aarch64
            os: ubuntu-20.04
            target: aarch64-unknown-linux-musl
            bin_ext: ""
            name: vpxtool-Linux-aarch64-musl
            cargo_command: cargo

          - os_name: Windows-aarch64
            os: windows-latest
            target: aarch64-pc-windows-msvc
            bin_ext: ".exe"
            name: vpxtool-Windows-aarch64
            cargo_command: cargo

          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin_ext: .exe
            name: vpxtool-Windows-x86_64
            cargo_command: cargo

          - os_name: macOS-x86_64
            os: macos-latest
            target: x86_64-apple-darwin
            bin_ext: ""
            name: vpxtool-macOS-x86_64
            cargo_command: cargo

          - os_name: macOS-aarch64
            os: macos-latest
            target: aarch64-apple-darwin
            bin_ext: ""
            name: vpxtool-macOS-aarch64
            cargo_command: cargo

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}
      - name: Build binary (*nix)
        shell: bash
        run: |
          ${{ matrix.platform.cargo_command }} build --locked --release --target ${{ matrix.platform.target }}
        if: ${{ !contains(matrix.platform.os, 'windows') }}
      - name: Build binary (Windows)
        # We have to use the platform's native shell. If we use bash on
        # Windows then OpenSSL complains that the Perl it finds doesn't use
        # the platform's native paths and refuses to build.
        shell: powershell
        run: |
          & ${{ matrix.platform.cargo_command }} build --locked --release --target ${{ matrix.platform.target }}
        if: contains(matrix.platform.os, 'windows')
      - name: Set full archive name as env variable
        shell: bash
        run: |
          VERSION=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//-/g')
          EXTENSION="tar.gz"
          if [[ "${{ matrix.platform.os }}" == "windows-latest" ]]; then
            EXTENSION="zip"
          fi
          echo "ARCHIVE_NAME=${{ matrix.platform.name }}-${VERSION}.$EXTENSION" >> $GITHUB_ENV
          echo "VPINBALL_BINARY_NAME=target/${{ matrix.platform.target }}/release/vpinball${{ matrix.platform.bin_ext }}" >> $GITHUB_ENV
          echo "VPINBALL_GUI_BINARY_NAME=target/${{ matrix.platform.target }}/release/vpinball-gui${{ matrix.platform.bin_ext }}" >> $GITHUB_ENV
      - name: Package as archive
        shell: bash
        run: |
          if [[ "${{ matrix.platform.os }}" == "windows-latest" ]]; then
            7z a $ARCHIVE_NAME $VPINBALL_BINARY_NAME $VPINBALL_GUI_BINARY_NAME vpxtool_gui/assets
          else
            tar czvf $ARCHIVE_NAME $VPINBALL_BINARY_NAME $VPINBALL_GUI_BINARY_NAME vpxtool_gui/assets
          fi
      - name: Publish release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: $ARCHIVE_NAME
          path: $ARCHIVE_NAME
        if: startsWith( github.ref, 'refs/tags/v' ) == false
      - name: Publish GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: "vpxtool*"
        if: startsWith( github.ref, 'refs/tags/v' )
