name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
          # windows-latest fails to compile sdl3
          # https://github.com/actions/runner-images/issues/10980
          - os: windows-2025
          - os: macos-latest

    runs-on: ${{ matrix.platform.os }}

    steps:
      - name: Install bevy linux dependencies
        run: sudo apt-get update && sudo apt-get install g++ pkg-config libx11-dev libxext-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev
        if: contains(matrix.platform.os, 'ubuntu')
      - uses: actions/checkout@v4
      - name: Install minimal stable with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2.7.7
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
